


.navbar {
    overflow: hidden;
    background:white;
    box-shadow: 5px 3px 5px #d3d3d3; 
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
  }
  
  
  .navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
  
  }
  
  input{
      border-radius: 10px;
      float:right;
  }
  
  
  .navbar i{
      float: right;
      padding:12px 12px;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin:0;
  }
  
  .navbar i:hover{
      cursor: pointer;
    color: #808080;
  }
  
  .navbar a:hover {
    color: #808080;
    cursor: pointer;
  }
  
  .link{
      position: relative;
    }
    
    .link:after{
      content: '';
      position: absolute;
      width: 0; height: 3px;
      display: block;
      border-radius: 2px;
      margin-top: 5px;
      right: 0;
      background: rgb(228, 153, 19);
      transition: width .1s ease;
      -webkit-transition: width .1s ease;
    }
     
    .link:hover:after{
      width: 100%;
      left: 0;
      background: rgb(228, 153, 19);
    }

    .container-1{
      background-image:url(https://images.wallpaperscraft.com/image/wood_timber_wall_texture_44976_1280x1024.jpg);
        background-size: 100% 555px ;
        margin:50px 10px;
        min-height: 510px;
        margin-top:50px;
        text-align: center;
        text-shadow: 2px 2px 2px #000000;
        padding: 50px 0px;
        margin-left: 30px;
        margin-right: 30px ;
    }
    
    .col-sm-3{
      box-shadow:5px 3px 5px #808080;  
    }